@using System.Text.RegularExpressions;
@using System.Linq;
@model NeoCorpSec.Models.CameraManagement.Camera

@{
    var locationMap = ViewBag.LocationMap as Dictionary<int, NeoCorpSec.Models.CameraManagement.Location>;
    var cameraNotes = ViewBag.CameraNotes as Dictionary<int, List<NeoCorpSec.Models.Reporting.Note>>;
    List<NeoCorpSec.Models.Reporting.Note> notesForThisCamera;
}


<!-- Camera Object -->
<details class="camera-object-details camera-object">
    <summary class="notes-summery">
        <!-- Status, Camera Name, Location Row -->
        <div class="camera-row">
            <!-- Status block-->
            <div class="camera-item status">
                @if (Model.CurrentStatus == "default")
                {
                    @:-
                }
                else
                {
                    <img class="status-image" src="@("/images/" + GetImageNameForStatus(Model.CurrentStatus))" alt="Status" id="status-img-@Model.ID">
                }
                <div class="dropdown" id="custom-dropdown-@Model.ID">
                    <button class="dropbtn" id="dropbtn-@Model.ID">▼</button>
                    <div class="dropdown-content" id="dropdown-content-@Model.ID">
                        @foreach (var status in new string[] { "Up", "Issues", "Down", "Decommissioned", "Unboxed" })
                        {
                            <form method="post" asp-action="EditCameraCurrentStatus" asp-controller="Home">
                                <input type="hidden" name="cameraId" value="@Model.ID" />
                                <input type="hidden" name="newStatus" value="@status" />
                                <button type="submit">@status</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
            <div class="camera-item non-status-block">
                <!-- Camera Name block -->
                <div class="name">
                    @Model.Name
                </div>

                <!-- Last Modified block-->
                <div class="last-modified">
                    @{
                        if (Model.ModifiedAt.HasValue)
                        {
                            string modifiedAtUTC = Model.ModifiedAt.Value.ToString("O"); // Round-trip format
                            string modifiedAtEastern = ConvertToEasternTime(modifiedAtUTC);
                            string formattedModifiedAt = ConvertNotesTimeToEastern("Last Modified: (" + modifiedAtUTC + ")");
                            @: @formattedModifiedAt
                        }
                        else
                        {
                            @:Last Modified: N/A
                        }
                    }
                </div>
            </div>
        </div>
    </summary>

    <!-- Notes Row -->
    <div class="notes-row">
        <div class="camera-item notes">
            <div class="notes-section">
                <div class="notes-form-section">
                    <form method="post" asp-action="AddNoteToCamera" asp-controller="Home">
                        <div class="input-row">
                            <input type="hidden" name="cameraId" value="@Model.ID" />
                            <input type="hidden" name="noteableType" value="Camera" />

                            <textarea class="custom-textarea" name="newNote" placeholder="Add a note..."></textarea>
                        </div>
                        <div class="submit-row">
                            <button class="btn w-100 action-button" type="submit">Submit Note</button>
                        </div>
                    </form>
                </div>
                <details class="past-cameras-details">
                    <summary>
                        <div class="text-center past-cameras-title arrow-container">
                            Camera Note History
                            @{
                                if (cameraNotes != null && cameraNotes.TryGetValue(Model.ID, out notesForThisCamera))
                                {
                                    <span class="note-count">(@notesForThisCamera.Count)</span>
                                }
                            }
                        </div>
                    </summary>
                    <div class="notes-list-section">
                        @{
                            if (cameraNotes != null && cameraNotes.TryGetValue(Model.ID, out notesForThisCamera))
                            {
                                var sortedNotes = notesForThisCamera.OrderByDescending(note => note.CreatedAt).ToList();
                                foreach (var note in sortedNotes)
                                {
                                    <div class="single-note">
                                        <span class="note-badge">@note.Username:</span>
                                        <span class="note-badge">@ConvertToEasternTime(note.CreatedAt.ToString("o"))</span>
                                        <span>@note.Content</span>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="text-center">No notes yet.</p>
                            }
                        }
                    </div>

                </details>
            </div>
        </div>
    </div>


</details>


@functions {
    public string GetImageNameForStatus(string status)
    {
        switch (status)
        {
            case "Up": return "grncircle.png";
            case "Down": return "redcircle.png";
            case "Issues": return "warntriangle.png";
            case "Decommissioned": return "greycircle.png";
            case "Unboxed": return "unboxed.png";
            default: return "-";
        }
    }

    public static string ConvertNotesTimeToEastern(string notes)
    {
        Regex regex = new Regex(@"\(([^)]+)\)");
        return regex.Replace(notes, m => "[" + ConvertToEasternTime(m.Groups[1].Value) + "]");
    }

    public static string ConvertToEasternTime(string dateTimeString)
    {
        DateTime utcDateTime;
        if (DateTime.TryParse(dateTimeString, out utcDateTime))
        {
            TimeZoneInfo easternZone = TimeZoneInfo.FindSystemTimeZoneById("Eastern Standard Time");
            DateTime easternTime = TimeZoneInfo.ConvertTimeFromUtc(utcDateTime, easternZone);
            return easternTime.ToString("MM.dd.yyyy hh:mm:ss tt"); // Now in AM/PM format
        }
        return dateTimeString;
    }
}