@model NeoCorpSec.Models.CameraManagment.Camera

@{
    var locationMap = ViewBag.LocationMap as Dictionary<int, NeoCorpSec.Models.CameraManagment.Location>;
}

@functions {
    public string GetImageNameForStatus(string status)
    {
        switch (status)
        {
            case "Up": return "grncircle.png";
            case "Down": return "redcircle.png";
            case "Issues": return "warntriangle.png";
            case "Decommissioned": return "greycircle.png";
            case "Unboxed": return "unboxed.png";
            default: return "-";
        }
    }
}

<div class="camera-object">
    <div class="camera-item status">
        @if (Model.CurrentStatus == "default")
        {
            @:-
        }
        else
        {
            <img class="status-image" src="@("/images/" + GetImageNameForStatus(Model.CurrentStatus))" alt="Status" id="status-img-@Model.ID">
        }
        <div class="dropdown">
            <button class="dropbtn" id="dropbtn-@Model.ID">▼</button>
            <div class="dropdown-content">
                @foreach (var status in new string[] { "Up", "Issues", "Down", "Decommissioned", "Unboxed" })
                {
                    <form method="post" asp-controller="Home" asp-action="PutCamera">
                        <input type="hidden" name="ID" value="@Model.ID" />
                        <input type="hidden" name="Name" value="@Model.Name" />
                        <input type="hidden" name="LocationId" value="@Model.LocationId" />
                        <input type="hidden" name="Notes" value="@Model.Notes" />
                        <input type="hidden" name="CreatedAt" value="@Model.CreatedAt" />
                        <input type="hidden" name="CurrentStatus" value="@status" />
                        <input type="submit" value="@status" />
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="camera-item name">
        @Model.Name
    </div>
    <div class="camera-item location">
        @{
            if (locationMap.ContainsKey(Model.LocationId))
            {
                var location = locationMap[Model.LocationId];
                @:@location.Name, @location.City, @location.State
            }
            else
            {
                @:Unknown Location
            }
        }
    </div>
    <div class="camera-item notes">
        <details>
            <summary>Notes</summary>
            <p>@Model.Notes</p>
        </details>
    </div>
</div>