@{
    ViewData["Title"] = "Camera List Page";
}

@model List<NeoCorpSec.Models.CameraManagment.Camera>

@{
    var locationMap = ViewBag.LocationMap as Dictionary<int, NeoCorpSec.Models.CameraManagment.Location>;
    var cameraStatusCounts = ViewBag.CameraStatusCounts as Dictionary<int, Dictionary<string, int>>;
    var cameraGroups = Model.GroupBy(camera => camera.LocationId); // O(N)
}

<div class="text-center">
    <h1 class="display-4">Camera List Page</h1>
</div>

<div class="camera-list">
    @if (Model != null && Model.Count > 0)
    {
        @foreach (var cameraGroup in cameraGroups) // O(N)
        {
            <details>
                <summary class="location-list-summery">
                    <h4 class="location-list-header" style="display:inline;">
                        @{
                            var locationId = cameraGroup.Key;
                            if (locationMap.ContainsKey(locationId)) // O(1)
                            {
                                var location = locationMap[locationId];
                                @:@location.City, @location.State
                            }
                            else
                            {
                                @:Unknown Location
                            }
                        }
                    </h4>
                    <span class="camera-count">(@cameraGroup.Count())</span>
                    @{
                        if (cameraStatusCounts.ContainsKey(locationId))
                        {
                            var statusCounts = cameraStatusCounts[locationId];

                            @if (statusCounts.ContainsKey("Up"))
                            {
                                    <img class="status-image up-status" src="/images/grncircle.png" alt="Up" />
                                    <span class="status-count">@statusCounts["Up"]</span>
                            }

                            @if (statusCounts.ContainsKey("Down"))
                            {
                                <span class="middle-status">
                                    <img class="status-image down-status" src="/images/redcircle.png" alt="Down" />
                                    <span class="status-count">@statusCounts["Down"]</span>
                                </span>
                            }

                            @if (statusCounts.ContainsKey("Issues"))
                            {
                                    <img class="status-image issues-status" src="/images/warntriangle.png" alt="Issues" />
                                    <span class="status-count">@statusCounts["Issues"]</span>
                            }
                        }
                    }
                </summary>
                <div>
                    @foreach (var camera in cameraGroup) // O(N)
                    {
                        @await Html.PartialAsync("~/Views/Camera/_CameraPartial.cshtml", camera)
                        // O(1)
                    }
                </div>
            </details>
        }
    }
    else
    {
        <p>No cameras found.</p>
    }
</div>
