@{
    ViewData["Title"] = "Camera List Page";
}

@model List<NeoCorpSec.Models.CameraManagment.Camera>

@{
    var locationMap = ViewBag.LocationMap as Dictionary<int, NeoCorpSec.Models.CameraManagment.Location>;
    var cameraStatusCounts = ViewBag.CameraStatusCounts as Dictionary<int, Dictionary<string, int>>;
    var cameraGroups = Model.GroupBy(camera => camera.LocationId); // O(N)
}

<div class="text-center">
    <h1 class="display-4">Camera List Page</h1>
</div>

<div class="camera-list">
    @if (Model != null && Model.Count > 0)
    {
        @foreach (var cameraGroup in cameraGroups) // O(N)
        {
            <details class="camera-list-details">
                <summary class="location-list-summery">
                    <div>
                        <h4 class="location-list-header" style="display:inline;">
                            @{
                                var locationId = cameraGroup.Key;
                                if (locationMap.ContainsKey(locationId)) // O(1)
                                {
                                    var location = locationMap[locationId];
                                    @:@location.City, @location.State
                                }
                                else
                                {
                                    @:Unknown Location
                                }
                            }
                        </h4>
                        <span class="camera-count">(@cameraGroup.Count())</span>
                    </div>
                    <span class="status-block">
                        @{
                            if (cameraStatusCounts.TryGetValue(locationId, out var statusCounts))
                            {
                                int count = 0;

                                if (statusCounts.TryGetValue("Up", out count))
                                {
                                    <span class="status-spacing status-container">
                                        <img class="status-image up-status" src="/images/grncircle.png" alt="Up" />
                                        <span class="status-count">@statusCounts["Up"]</span>
                                    </span>
                                }
                                else
                                {
                                    <span class="status-spacing status-container">
                                        <img class="status-image up-status" src="/images/grncircle.png" alt="Up" />
                                        <span class="status-count">0</span>
                                    </span>
                                }

                                if (statusCounts.TryGetValue("Down", out count))
                                {
                                    <span class="status-spacing status-container">
                                        <img class="status-image down-status" src="/images/redcircle.png" alt="Down" />
                                        <span class="status-count">@statusCounts["Down"]</span>
                                    </span>
                                }
                                else
                                {
                                    <span class="status-spacing status-container">
                                        <img class="status-image down-status" src="/images/redcircle.png" alt="Down" />
                                        <span class="status-count">0</span>
                                    </span>
                                }

                                if (statusCounts.TryGetValue("Issues", out count))
                                {
                                    <span class="status-spacing status-container">
                                        <img class="status-image issues-status" src="/images/warntriangle.png" alt="Issues" />
                                        <span class="status-count">@statusCounts["Issues"]</span>
                                    </span>
                                }
                                else
                                {
                                    <span class="status-spacing status-container">
                                        <img class="status-image issues-status" src="/images/warntriangle.png" alt="Issues" />
                                        <span class="status-count">0</span>
                                    </span>
                                }

                                if (statusCounts.TryGetValue("Unboxed", out count))
                                {
                                    <span class="status-spacing status-container">
                                        <img class="status-image unboxed-status" src="/images/unboxed.png" alt="Unboxed" />
                                        <span class="status-count">@statusCounts["Unboxed"]</span>
                                    </span>
                                }
                                else
                                {
                                    <span class="status-spacing status-container">
                                        <img class="status-image unboxed-status" src="/images/unboxed.png" alt="Unboxed" />
                                        <span class="status-count">0</span>
                                    </span>
                                }
                            }
                        }
                    </span>
                </summary>
                <div class="camera-partial">
                    @foreach (var camera in cameraGroup) // O(N)
                    {
                        @await Html.PartialAsync("~/Views/Camera/_CameraPartial.cshtml", camera)
                        // O(1)
                    }
                </div>
            </details>
        }
    }
    else
    {
        <p>No cameras found.</p>
    }
</div>
